roughly-2013/mandelfly/autom4te.cache
roughly-2013/mandelfly/Makefile
roughly-2013/mandelfly/config.h
roughly-2013/mandelfly/config.log
roughly-2013/mandelfly/config.status
roughly-2013/mandelfly/stamp-h1
roughly-2013/mandelfly/src/.deps
roughly-2013/mandelfly/src/Makefile
roughly-2013/mandelfly/src/kernels/numbers.h
roughly-2013/mandelfly/src/mandelfly
roughly-2013/mandelfly/libtool
roughly-2013/mandelfly/ltmain.sh
roughly-2013/mandelfly/.libs
roughly-2013/mandelfly/src/libgtest.la
roughly-2013/mandelfly/src/libgtest_la-gtest-all.lo
roughly-2013/mandelfly/src/libgtest_la-gtest.lo
roughly-2013/mandelfly/src/libgtest_la-gtest-port.lo
roughly-2013/mandelfly/tmp
roughly-2013/mandelfly/src/test
roughly-2013/mandelfly/src/native_transform
roughly-2013/mandelfly/test/test
roughly-2013/mandelfly/test/vector_add

*.o
