<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DroidPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="AndroidPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DroidPad.Properties.Settings>
            <setting name="PPNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UpInt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3141</value>
            </setting>
            <setting name="IP1" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="IP2" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="IP3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IP4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdbDevice" serializeAs="String">
                <value />
            </setting>
        </DroidPad.Properties.Settings>
        <AndroidPad.Properties.Settings>
            <setting name="PPNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UpInt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3141</value>
            </setting>
            <setting name="IP1" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="IP2" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="IP3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IP4" serializeAs="String">
                <value>102</value>
            </setting>
        </AndroidPad.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
