<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSA_Crypto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RSA_Crypto.Properties.Settings>
            <setting name="CollectedKeys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="MyKey" serializeAs="String">
                <value />
            </setting>
            <setting name="NumOfKeys" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp" serializeAs="String">
                <value />
            </setting>
        </RSA_Crypto.Properties.Settings>
    </userSettings>
</configuration>