1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Digitalsquid"
      VALUE "FileDescription", "SpaceGame Level editor"
      VALUE "FileVersion", "0.1"
      VALUE "InternalName", "spaceedit"
      VALUE "LegalCopyright", "SpaceGame Level editor"
      VALUE "OriginalFilename", "spaceedit.exe"
      VALUE "ProductName", "SpaceGame Level editor"
      VALUE "ProductVersion", "0.1 Alpha"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

id ICON "../data/icon.ico"
